.toastify {
    z-index: 10000;
}

.toastify--bottom-center {
    min-width: 600px;
    margin-left: -300px;
    margin-bottom: 40px;
}

.dropzone {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 300px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: rgb(243, 244, 245);
}
